// Torrent content layout: Original
// Default Torrent Management Mode: Automatic
// Default Save Path: /media/downloads/torrents
// External program on finished: /scripts/xseed.sh "%F"

module.exports = {
  delay: 30,
  qbittorrentUrl: "https://{{ inventory_hostname }}.{{ external_domain }}:32443",

  torznab: [
    "https://prowlarr.{{ external_domain }}/18/api?apikey={{ prowlarr_api_key }}", // ipt
    "https://prowlarr.{{ external_domain }}/17/api?apikey={{ prowlarr_api_key }}", // tl
    "https://prowlarr.{{ external_domain }}/27/api?apikey={{ prowlarr_api_key }}", // hdt
    // "https://prowlarr.{{ external_domain }}/6/api?apikey={{ prowlarr_api_key}}", // ts
    // "https://prowlarr.{{ external_domain }}/7/api?apikey={{ prowlarr_api_key }}", // mtv
    // "https://prowlarr.{{ external_domain }}/8/api?apikey={{ prowlarr_api_key }}", // uhd
    "https://prowlarr.{{ external_domain }}/19/api?apikey={{ prowlarr_api_key }}", // fl
    "https://prowlarr.{{ external_domain }}/30/api?apikey={{ prowlarr_api_key }}", // st
    "https://prowlarr.{{ external_domain }}/24/api?apikey={{ prowlarr_api_key }}", // blu
    "https://prowlarr.{{ external_domain }}/28/api?apikey={{ prowlarr_api_key }}", // hds
    // "https://prowlarr.{{ external_domain }}/17/api?apikey={{ prowlarr_api_key }}", // ptp
    // "https://prowlarr.{{ external_domain }}/42/api?apikey={{ prowlarr_api_key }}", // btn
    "https://prowlarr.{{ external_domain }}/28/api?apikey={{ prowlarr_api_key }}", // hds
  ],

  action: "inject",
  includeEpisodes: true,
  includeNonVideos: true,
  duplicateCategories: true,

  matchMode: "safe",
  skipRecheck: true,
  linkType: "symlink",
  linkDir: "/home/qbit/Downloads/xseeds",

  dataDirs: ["/home/qbit/Downloads/finished/"],

  outputDir: "/home/qbit/Downloads/xseeds",
  torrentDir: "/home/qbit/Downloads/finished",
};
