[Unit]
Description=qBittorrent

[Service]
TimeoutStartSec=0
User=qbit
ExecStart=/usr/bin/qbittorrent-nox --webui-port=32443

[Install]
WantedBy=multi-user.target

[Service]
Restart=on-failure
RestartSec=5s
