clients:
  qbt:
    download_path: /home/qbit/Downloaads/finished
    download_path_mapping:
      /home/qbit/Downloaads/finished: /downloads/torrents/qbittorrent/completed
    enabled: true
    filter: default
    type: qbittorrent
    url: https://{{ inventory_hostname }}.{{ external_domain }}:32443
    user: {{ qbittorrent_user }}
    password: {{ qbittorrent_pass }}
filters:
  default:
    ignore:
      # general
      - TrackerStatus contains "Tracker is down"
      - Downloaded == false && !IsUnregistered()
      - SeedingHours < 6 && !IsUnregistered()

      # Permaseed trackers
      - TrackerName contains "flacsfor.me"
      - TrackerName contains "myanonamouse.net"
      - TrackerName contains "anthelion.me"

      # permaseed / un-sorted (unless torrent has been deleted)
      - Label startsWith "activity:24h"
    remove:
      # general
      - IsUnregistered()
      - Label startswith "expired"
