
# Trash
.DS_Store
Thumbs.db
bin/
flux
*.iso

# Temp
ignore/
rebuild/
logs/
.task/
tmp/

# Ansible
ansible/roles/xanmanning.k3s*
ansible/roles/andrewrothstein.calicoctl*
node_modules
mitogen*

# Test python utils
tests/__pycache__

# Sops
.decrypted~*.yaml
/ansible/roles/mrlesmithjr.zfs
