appdirs==1.4.4
argcomplete==1.12.3
attrs==21.2.0
backports.entry-points-selectable==1.1.1
cfgv==3.3.1
distlib==0.3.3
filelock==3.3.2
gitdb==4.0.9
GitPython==3.1.24
identify==2.3.5
iniconfig==1.1.1
nodeenv==1.6.0
packaging==21.2
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
py==1.11.0
pyparsing==3.0.6
pytest==7.0.1
PyYAML==6.0
six==1.16.0
smmap==5.0.0
toml==0.10.2
typing-extensions==3.10.0.2
virtualenv==20.10.0
xmltodict==0.12.0
yamllint==1.26.3
yq==2.12.2
