[defaults]

#--- General settings
nocows                      = True
executable                  = /bin/bash
stdout_callback             = yaml
force_valid_group_names     = ignore

#--- Files/Directory settings
log_path                = ~/.ansible/ansible.log
inventory               = ./infrastructure/inventory
library                 = /usr/share/my_modules
remote_tmp              = /tmp/.ansible/tmp
local_tmp               = /tmp/.ansible/tmp
roles_path              = ~/.ansible/roles:./roles
retry_files_enabled     = False

#--- Fact Caching settings
fact_caching            = jsonfile
fact_caching_connection = ~/.ansible/facts_cache

# SSH settings
remote_port                 = 22
timeout                     = 60
host_key_checking           = False
# private_key_file            =

#--- Plugin settings
vars_plugins_enabled = host_group_vars,community.sops.sops

[inventory]
unparsed_is_failed      = true

[privilege_escalation]
become                  = False

[ssh_connection]
scp_if_ssh                  = smart
retries                     = 3
ssh_args                    = -o ControlMaster=auto -o ControlPersist=30m -o Compression=yes -o ServerAliveInterval=15s
pipelining                  = True
control_path                = %(directory)s/%%h-%%r
